*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.traffic-light{
  display: flex;
  gap: 40px;
}

.light-color {
  width: 100px;
  height: 100px;
}

.button{
  cursor: pointer;
  padding: 9px 15px;
  font-size: 18px;
  background: none;
  border: 2px solid black;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}

.button:hover{
  border-color: rgba(232, 8, 75, 0.801);
  color: rgb(232, 8, 75);
  background-color: rgb(255, 241, 245);
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  opacity: .6;
}